span {
  display: inline-flex;
  margin-left: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid black;
}

span:hover, button:hover {
  cursor: pointer;
}

#ball {
  margin-left: 20px;
}

#reset-game {
  width: 250px;
  height: 80px;
  font-size: 25px;
  background-color: aquamarine;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 12px;
  align-items: center;
}

#balls-section {
  width: 90vw;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  text-align: center;
}

p {
  font-size: 30px;
  text-align: center;
}

body {
  margin: 0px;
}

/* depois vou mexer nessa responsividade */
/* @media screen and (max-width: 768px) {
  #balls-section  {
    flex-wrap: wrap;
  }
} */